:root{
    --fundo-body:#F3F5FC ;
    --fundo-resposta: #FFFFFF;
   
    --texto-input: #0A3871;
    --texto-botaoCriptografar: #fff ;
    --texto-botaoDescriptografar: #0a3871;

    --borda-botao: #0a3871 ;

    --fundo-botaoCriptografar: #0a3871;
    --fundo-botaoDescriptografar: #F3F5FCa ;

    --cor-resposta:#495057;
}
*{
    background-color: var(--fundo-body);
}

body{
    width: 100vw;
    height: 100%;
    font-family: 'Inter', sans-serif;
    display: flex;
    background-color: var(--fundo-body);
}

.box-logoAlura{
   width: 100%;
   margin: 0 0 10vh 0;
}

.logoAlura{
    width: 32px;
   padding: 16px 0 0 16px;
}


main {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.layout-preencher{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#input-texto{
   width: 90%;
   height: 20rem;
   outline: 0;
   resize: none;
   border: none;
   background-color: var(--fundo-body);
   color: var(--texto-input);
   font-size: 32px;
}


.layout-botoes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box-informativo{
    display: flex;
    gap: 5px;
}

.informativo-input{
   font-size: 12px;
   display: flex;
   align-items: center;
}

.box-botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.botao{
    width: 340px;
    height: 60px;
    border-radius: 24px;
}

#botao-criptografar{
    background-color: var(--fundo-botaoCriptografar);
    color: var(--texto-botaoCriptografar);
}

#botao-descriptografar{
  
}

.layout-resposta{
   display: flex;
   justify-content: center;
   align-items: center  ;
   padding: 3rem 0;
}

.box-resposta {
  width: 80%;
  background-color: var(--fundo-resposta);
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  padding: 2em 1em;
}


#respostaSemTexto{
    background-color: var(--fundo-resposta);
}

.imagem-SemTexto{
  display: none;
}

.mensagem-semTexto{
    background-color: var(--fundo-resposta);
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
}

.mensagem-semTexto-legenda{
    background-color: var(--fundo-resposta);
    text-align: center;
    font-size: 16px;
}

#box-textoResposta{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 0 0;
}

.textoResposta{
    width: 90%;
    height: 20rem;
    outline: 0;
    resize: none;
    border: none;
    background-color: var(--fundo-body);
    color: var(--texto-input);
    font-size: 32px;
}

.box-botaoCopiar{

}

#botao-copiar{

}

.hide{
    display: none;
}

  
  