:root{
    --fundo-body:#F3F5FC ;
    --fundo-resposta: #FFFFFF;
   
    --texto-input: #0A3871;
    --texto-botaoCriptografar: #fff ;
    --texto-botaoDescriptografar: #0a3871;

    --borda-botao: #0a3871 ;

    --fundo-botaoCriptografar: #0a3871;
    --fundo-botaoDescriptografar: #F3F5FCa ;

    --cor-resposta:#495057;
}
*{
    background-color: var(--fundo-body);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.box-logoAlura{
    margin: 2.5em 0 0 0;
    display: none;
}

.logoAlura{
    position: absolute;
    height: 3em;
    left: 17em;
    top: 2.5em;
}


main {
    width: 100%;
    height: 100vh;     
    display: flex;
    justify-content: space-evenly;
    background-color: var(--fundo-body) ;
}

.layout-preencher{
    width: 50%;
    margin: 40px 0 0 0;
}

#input-texto{
    width: 100%;
    height: 600px;
    margin: 80px 0 0 0;
    background: none;
    border: none;
    outline: 0;
    resize:none;
    font-size: 32px;
    font-weight: 400;
    line-height: 150%;
    color: var(--texto-input);
    max-width: 100%;
}


.layout-botoes{
    height: 100px;
    margin: 75px 0 0 0;
    display: flex;
    flex-direction: column;
}

.informativo-input{
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 8px;
    margin: 0 0 5px 0;
}

.box-botoes{
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.botao{
    width: 22em;
    height: 4.5em;
    border-radius: 24px;
    border: 1px var(--borda-botao) solid;
    cursor: pointer;
}

#botao-criptografar{
    background-color: var(--fundo-botaoCriptografar);
    color: var(--texto-botaoCriptografar) ;
}

#botao-descriptografar{
   background-color: var(--fundo-botaoDescriptografar);
   color: var(--texto-botaoDescriptografar);
}

.layout-resposta{
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.box-resposta {
    width: 25em;
    height: 55em;
    border-radius: 2.25em;
    background-color: var(--fundo-resposta);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0 0 0;
}


#respostaSemTexto{
    width: 25em;
    margin: 3.125em 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    background-color: var(--fundo-resposta);
}

.imagem-SemTexto{
    padding: 40% 0 4% 0;
    width: 20em;
    background-color: var(--fundo-resposta);
}

.mensagem-semTexto{
    text-align: center;
    font-weight: bold;
    width: 18.75em;
    line-height: 120%;
    background-color: var(--fundo-resposta);
}

.mensagem-semTexto-legenda{
    text-align: center;
    width: 18.75em;
    font-size: 1em;
    line-height: 150%;
    background-color: var(--fundo-resposta);
}

#box-textoResposta{
   display: none;
   width: 25em;
   height: 49em;
}

.textoResposta{
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    outline: 0;
    border: none;
    resize: none;
    display: flex;
    justify-content: start;
    box-sizing: border-box;
    pointer-events: none;
    color: var(--cor-resposta);
    background-color: var(--fundo-resposta);
}

.box-botaoCopiar{
  align-self: center;
  background-color: var(--fundo-resposta);
}

#botao-copiar{
    background-color: var(--fundo-resposta);  
    border-color: #0A3871;
    color: #0A3871;
}

.hide{
    display: none;
}

  
  